body{background: #000}
.card{border: none;height: 320px}
.forms-inputs{position: relative;}
.forms-inputs span{position: absolute;top:-18px;left: 10px;background-color: rgb(255, 255, 255);padding: 5px 10px;font-size: 15px}
.forms-inputs i{position: absolute;top:13px;right: 10px;padding: 5px 10px;font-size: 15px}
.forms-inputs input{height: 50px;border: 2px solid rgb(238, 238, 238); width: 100%;}
.forms-inputs input:focus{box-shadow: none;outline: none;border: 2px solid #000}
.btn{height: 50px}.success-data{display: flex;flex-direction: column}
.bxs-badge-check{font-size: 90px}
.form-data{display: flex; flex-direction: column;}
.success-data{display: flex;}
#mainName {position: absolute;top:-23px;left: 25px;background-color: rgb(255, 255, 255);padding: 5px 10px;font-size: 20px; font-weight: bolder;}
#errorPassword, #errorEmailOrLogin, #errorLogin, #errorName, #errorEmail, #errorSurrname{font-size: small; color: rgb(255, 0, 0);}