:root{
    --offcanvas-width: 300px;
    --topNavbarHeight:56px;
}

.sidebar{
    width: var( --offcanvas-width);
    top: var( --topNavbarHeight);
    height: calc(100%-var( --topNavbarHeight));
}

.sidecustomcolor{
  background-color: #272C31;
}

.sideBtn{
position: fixed;
 z-index:2;
}

.dominik-test {
  background-image: url(../../app/resources/upload/domqq.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px)
{
.dominik-test{
  background-image: url(../../app/resources/upload/domqq1.png);
}
}
@media only screen and (max-width: 600px)
{
.dominik-test{
  background-image: url(../../app/resources/upload/domqq6.png);
}
}

.icon-size-dom {
font-size: 4rem;
}


@media (min-width:1050px){
  body{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before{
    display: none;
  }

  .side-btn{
    display:none;
  }
  

}

@media (max-width:1050px){
  .searchBar{
    padding-left: 2rem !important;
  }
}


.btn-custom-1{
  background-color: rgb(255, 59, 219);
  color: white;
}

.bg-custom-1 {
    background-color: rgb(255, 59, 219);
    color: white;
    text-decoration-color: white;
}

.bg-custom-2 {
    background-color: rgb(80, 0, 129);
}

.bg-custom-3 {
    background-color: rgb(55, 142, 218);
}

.bg-custom-4 {
  background-color: rgb(240, 240, 240);
}

.panelBtn{
  position:fixed;
   z-index:3;
   
}

.searchBar{
  position:fixed;
   z-index:2;
}

.headers-padding {
  padding-left: 15px;
  padding-top: 10px;
}

#catalogNameInput{
  height: 55px;
}

.sidebar-link .right-icon{
  display:inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon{
   transform: rotate(90deg);
}

.dash-list .right-icon{
  display:inline-flex;
}
.dash-list[aria-expanded="false"] .right-icon{
  transform: rotate(270deg);
}

.siderbar-link{
    color:#61757D;
}



ul.navbar-nav a:hover { color: #000 !important; }


    /* usuwa strzałeczki przy inputah number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


/* Chrome to słaba przeglądarka dla frajerów. Tylko Firefox, tam css działa jak powinien! */
input.form-check-input{
  width : 20px;
  height : 20px;
}






.img-sm{
  width: 80px;
  height: 80px
}

.itemside .info{
  padding-left: 15px;
  padding-right: 7px
}

.table-shopping-cart .price-wrap{
  line-height: 1.2
}

.table-shopping-cart .price{
  font-weight: bold;
  margin-right: 5px;
  display: block
}

.text-muted{
  color: #969696 !important
}

a{
  text-decoration: none !important
}

.card{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0px
}

.itemside{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.dlist-align{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

[class*="dlist-"]
{
  margin-bottom: 5px
}

.coupon{
  border-radius: 1px
}

.price{
  font-weight: 600;
  color: #212529
}

.btn.btn-out{
  outline: 1px solid #fff;
  outline-offset: -5px
}

.btn-main{
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  color: #fff;
  width: 100%
}

.btn-light.btn-round{
  color: #ffffff;
  background-color: #F44336;
  border-color: #f8f9fa;
  font-size: 12px
}

.btn-light.btn-round:hover{
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336
}

.btn-apply{
  font-size: 11px
}

.btn-basket{
  margin-right: 20px;
}

.card-basket{
  height: 34px;
}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }


 
 .panel-order .row {
	border-bottom: 1px solid #ccc;
}

.panel-order .row:last-child {
	border: 0px;
}

.panel-order .row .col-md-1  {
	text-align: center;
	padding-top: 15px;
}

.panel-order .row .col-md-11 {
	border-left: 1px solid #ccc;
}

.panel-order .row .row .col-md-12:last-child {
	font-size: 11px; 
	color: #555;  
	background: #efefef;
}

.panel-order .row .row .col-md-12 {
	padding-top: 7px;
	padding-bottom: 7px; 
}



 