:root{
    --offcanvas-width: 300px;
    --topNavbarHeight:56px;
}

.sidebar{
    width: var( --offcanvas-width);
    top: var( --topNavbarHeight);
    height: calc(100%-var( --topNavbarHeight));
}

.sidecustomcolor{
  background-color: #272C31;
}

@media (min-width:992px){
  body{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before{
    display: none;
  }
  .sidebar{
    transform: none;
    visibility: visible !important;
  }
  .side-btn{
    display:none;
  }

  #adm-main{
    margin-left: var( --offcanvas-width);
  }
}

@media (min-width:992px){
  .sidebar #adm-main{
    margin-left: var( --offcanvas-width);
  }
}

.bg-custom-1 {
    background-color: rgb(255, 59, 219);
}

.bg-custom-2 {
    background-color: rgb(80, 0, 129);
}

.bg-custom-3 {
    background-color: rgb(55, 142, 218);
}


.sidebar-link .right-icon{
    display:inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon{
   transform: rotate(90deg);
}

.dash-list .right-icon{
  display:inline-flex;
}
.dash-list[aria-expanded="false"] .right-icon{
  transform: rotate(270deg);
}

.siderbar-link{
    color:#61757D;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #272C31; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #212529; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3A4148; 
  }

  ul.navbar-nav a:hover { color: #fff !important; }



/*
#naglowek {
    background-color: #0D3F82;
    padding: 20px;
    padding-left: 20px;
    border-bottom: 5px solid #466EA1;
    height: 5vh;
}

#naglowek1 {
    float: left;
    width: 20%;
}

#naglowek2 {
    float: left;
    width: 70%;
}



#wnetrze{
    background-color: yellow;
    padding-bottom: 40px;
    height: 80vh;
}

#wnetrze1 {
    float: left;
    width: 20%;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80vh;
}

#wnetrze2 {
    float: right;
    width: 70%;
    background-color: yellow;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80vh;
}


#fieldleft {
    float: left;
    width: 50vh;
    text-align: right;
    right: 20px;
    position: relative;
    line-height: 22px;
}


#fieldmiddle {
    float: left;
    width:50vh;
    line-height: 22px;
}





fieldset {
    margin-left: 80px;
    border-style: dotted;
    width: 600px;
}



#kradio {
    margin-right: 25px;
}

#lista {
    width: 170px;
}
*/